@import url('https://fonts.cdnfonts.com/css/mulish');

.main h1,.main .h1 {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 130%;
    margin: 0
}

@media screen and (max-width: 1599px) {
    .main h1,.main .h1 {
        font-size:2.5rem
    }
}

@media screen and (max-width: 959px) {
    .main h1,.main .h1 {
        font-size:1.71rem
    }
}

.main h2,.main .h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 130%;
    margin: 0
}

@media screen and (max-width: 959px) {
    .main h2,.main .h2 {
        font-size:1.57rem
    }
}

.main li {
    position: relative
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style-type: none
}

a {
    text-decoration: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
    color: #0c5eed
}

@media(hover: hover)and (pointer: fine) {
    a:hover {
        color:#0b52d0;
        text-decoration: unset
    }
}

p {
    margin: 0 0 24px
}

@media screen and (max-width: 767px) {
    p {
        margin-bottom:16px
    }
}

p:last-child {
    margin-bottom: 0
}

b,strong {
    font-weight: 600
}


img {
    display: block;
    width: auto;
    max-width: 100%;
    overflow: clip;
    overflow-clip-margin: content-box
}

.hidden {
    display: none !important
}

b,strong {
    font-weight: 700
}

body {
    min-height: 100vh;
    position: relative;
    font-style: normal;
    line-height: 1.5;
    height: 100%;
    font-family: "Mulish",Arial,sans-serif;
    color: #1d1e1f;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%
}

html {
    height: auto;
    -webkit-text-size-adjust: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%
}

@media screen and (max-width: 1599px) {
    html {
        font-size:14px
    }
}

html.disable-scrolling {
    overflow: hidden
}

html,body {
    min-height: 100vh;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    position: relative
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.main * {
    word-break: break-word
}

.main table * {
    word-break: normal
}


.main{
    max-width: 850px;
    width: 100%
}


@media screen and (max-width: 1024px) {
    .main{
        max-width:unset
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding-top:64px
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top:60px
    }
}

@media(hover: hover)and (pointer: fine) {
    a:hover .small-arrow,a:hover .blue-arrow {
        -webkit-transform:translateX(7px);
        -ms-transform: translateX(7px);
        transform: translateX(7px)
    }
}


.articleimportant {
    border-left: 2px solid #0c5eed;
    padding: 12px 20px;
    background-color: #f9f9fb;
    border-radius: 12px;
    margin: 24px 0
}

.articleimportant:first-child {
    margin-top: 0
}

.articleimportant:last-child {
    margin-bottom: 0
}


.small-arrow {
    width: 8px;
    height: 20px;
    stroke: #0c5eed;
    stroke-width: 2px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}


.steps-pane {
    margin: 24px 0
}

.steps-pane .step-pane {
    border: 1px solid #dbe0e4;
    border-radius: 12px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 6px
}

.steps-pane .step-pane__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media screen and (max-width: 767px) {
    .steps-pane .step-pane__title {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.steps-pane .step-pane__title>span:first-child {
    white-space: nowrap;
    margin-right: 4px
}

@media screen and (max-width: 767px) {
    .steps-pane .step-pane__title>span:first-child {
        margin-bottom:4px
    }
}


.text-primary {
    color: #0c5eed !important
}

.text-gray {
    color: #adb4c6
}

.text-second {
    color: #686c77
}

.text-red {
    color: #fd3c32
}

.meduim-show.button {
    display: none
}

@media screen and (max-width: 1199px) {
    .meduim-show.button {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.tablet-show.action-tile {
    display: none
}

@media screen and (max-width: 767px) {
    .tablet-show.action-tile {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.tablet-show.button {
    display: none
}

@media screen and (max-width: 767px) {
    .tablet-show.button {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.tablet-show.content-heading--small {
    display: none
}

@media screen and (max-width: 767px) {
    .tablet-show.content-heading--small {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (max-width: 1199px) {
    .meduim-hide {
        display:none !important
    }
}

@media screen and (max-width: 767px) {
    .tablet-hide {
        display:none !important
    }
}

.side-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media screen and (max-width: 1024px) {
    .side-col {
        width:100%;
        margin: 0 auto
    }
}

.side-col>* {
    margin-bottom: 32px
}

.side-col>*:last-child {
    margin-bottom: 0
}

.side-col .side-banner {
    position: -webkit-sticky;
    position: sticky;
    top: 80px
}

.side-col--article>* {
    margin-bottom: 50px
}

.side-col--article>*:last-child {
    margin-bottom: 0
}

.side-col--two .side-col__row {
    height: 50%;
    margin-bottom: 32px
}

@media screen and (max-width: 1024px) {
    .side-col--two .side-col__row {
        height:auto
    }
}

.side-col--two .side-col__row:last-child {
    margin-bottom: 0
}

.side-col__row>* {
    margin-bottom: 32px
}

.side-col__row>*:last-child {
    margin-bottom: 0
}

.load {
    position: relative
}

.load>* {
    pointer-events: none
}

.load:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    opacity: .4
}

.load:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border: 5px solid #ade5ff;
    border-bottom-color: #0c5eed;
    border-radius: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    z-index: 2
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

.noresults-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 300px;
    text-align: center
}

.noresults-message__inner small {
    color: #686c77;
    font-size: 1rem;
    font-weight: 300;
    line-height: 140%
}

.noresults-message__inner p {
    margin: 12px 0
}

@font-face {
    font-family: "Mulish";
    src: url("/local/templates/bankrotstvo/css/../fonts/Mulish.woff2") format("woff2");
    font-display: swap;
    font-weight: 1 999
}

.main h1,.main .h1 {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 130%;
    margin: 0
}

@media screen and (max-width: 1599px) {
    .main h1,.main .h1 {
        font-size:2.5rem
    }
}

@media screen and (max-width: 959px) {
    .main h1,.main .h1 {
        font-size:1.71rem
    }
}

.main h2,.main .h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 130%;
    margin: 0
}

@media screen and (max-width: 959px) {
    .main h2,.main .h2 {
        font-size:1.57rem
    }
}

.main li {
    position: relative
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style-type: none
}

@layer reset {
    header *: not(svg):not(svg *):not(strong):not(em):not(b):not(i),main *:not(svg):not(svg *):not(strong):not(em):not(b):not(i),footer *:not(svg):not(svg *):not(strong):not(em):not(b):not(i),.modal *:not(svg):not(svg *):not(strong):not(em):not(b):not(i) {
        all:unset;
        display: revert;
        list-style: none
    }
}

*,*::before,*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*::before,*::after {
    pointer-events: none
}

a {
    text-decoration: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
    color: #0c5eed
}

@media(hover: hover)and (pointer: fine) {
    a:hover {
        color:#0b52d0;
        text-decoration: unset
    }
}

p {
    margin: 0 0 24px
}

@media screen and (max-width: 767px) {
    p {
        margin-bottom:16px
    }
}

p:last-child {
    margin-bottom: 0
}

b,strong {
    font-weight: 600
}

button {
    background-color: rgba(0,0,0,0);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    border: 0
}

img {
    display: block;
    width: auto;
    max-width: 100%;
    overflow: clip;
    overflow-clip-margin: content-box
}

.hidden {
    display: none !important
}

b,strong {
    font-weight: 700
}

body {
    min-height: 100vh;
    position: relative;
    font-style: normal;
    line-height: 1.5;
    height: 100%;
    font-family: "Mulish",Arial,sans-serif;
    color: #1d1e1f;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%
}

html {
    height: auto;
    -webkit-text-size-adjust: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%
}

@media screen and (max-width: 1599px) {
    html {
        font-size:14px
    }
}

html.disable-scrolling {
    overflow: hidden
}

html,body {
    min-height: 100vh;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    position: relative
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.main * {
    word-break: break-word
}

.main table * {
    word-break: normal
}

@media screen and (max-width: 1024px) {
    body {
        padding-top:64px
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top:60px
    }
}

.arrow-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #1d1e1f
}

.arrow-title>*,.arrow-title h2,.arrow-title h3 {
    margin-bottom: 0
}

.arrow-title .blue-arrow {
    margin-left: 6px
}

.blue-arrow {
    width: 18px;
    height: 18px;
    min-width: 18px;
    stroke: #0c5eed;
    stroke-width: 2px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}

@media(hover: hover)and (pointer: fine) {
    a:hover .small-arrow,a:hover .blue-arrow {
        -webkit-transform:translateX(7px);
        -ms-transform: translateX(7px);
        transform: translateX(7px)
    }
}

.small-arrow {
    width: 8px;
    height: 20px;
    stroke: #0c5eed;
    stroke-width: 2px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}


.accordion-group {
    display: grid;
    gap: 16px
}

.accordion {
    border-radius: 12px;
    border: 1px solid #dbe0e4;
    padding: 10px 16px;
    max-width: calc(100vw - 32px)
}

.accordion__toggle {
    display: grid;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}

@media(hover: hover)and (pointer: fine) {
    .accordion__toggle:hover .accordion__title {
        color:#0c5eed
    }

    .accordion__toggle:hover .accordion__btn:before {
        border-color: #0c5eed
    }
}

.accordion__title {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    font-weight: 600
}

.accordion__btn {
    width: 40px;
    height: 40px;
    position: relative
}

.accordion__btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    border-bottom: 1px solid #1d1e1f;
    border-right: 1px solid #1d1e1f;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}

.active .accordion__btn:before {
    -webkit-transform: translate(-50%, -22%) rotate(225deg);
    -ms-transform: translate(-50%, -22%) rotate(225deg);
    transform: translate(-50%, -22%) rotate(225deg)
}

.accordion__content {
    height: 0;
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 160%
}

@media screen and (max-width: 959px) {
    .accordion__content {
        font-size:1.14rem
    }
}

.accordion__content-box {
    max-width: 700px;
    width: 100%;
    margin-top: 10px
}

